/.HA_VERSION
/.cloud
/.google_maps_location_sharing.cookies.yaroslavmha_gmail_com
/.storage
/custom_components
/deps
/home-assistant.log
/home-assistant.log.1
/home-assistant.log.fault
/home-assistant_v2.db
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal
/image
/known_devices.yaml
/node-red
/www
/zigbee2mqtt
/tts